@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&family=Rubik:wght@400;500&display=swap");
@import "./scss/_global";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #f0f4fb;
}

a {
  text-decoration: none;
}

.shrink {
  height: 70px;
  background-color: $color-wht;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
.back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: $color-global;
  border-radius: 50%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 99;
  img {
    display: flex;
    align-items: center;
    width: 50px;
  }
}

.back-to-top.show {
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  ///  Header ///
  header {
    position: fixed;
    background: rgba(255, 255, 255, 0.1);
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    transition: 0.5s ease;
    .navigation {
      a {
        margin: 20px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: $color-bl;
      }
      a:hover {
        color: $color-global;
        transition: 0.5s ease;
      }
      .global-btn {
        margin: 0;
      }
    }
    button {
      display: none;
      border: none;
      background-color: transparent;
      img {
        width: 30px;
      }
    }
    #navbar-responsive {
      display: none;
    }
  }
}
.global-btn {
  @include global-btn;
}

///   Main  ///
main {
  padding-top: 150px;
  #home {
    .home-box-global {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .home-box-left {
        p {
          font-style: normal;
          font-weight: 500;
          font-size: 66px;
          line-height: 78px;
          text-transform: capitalize;
          color: $color-bl;
        }
        span {
          color: $color-global;
        }
        h3 {
          @include font-ws;
          padding: 15px 0px 45px;
          line-height: 30px;
          text-transform: capitalize;
          color: $color-bl;
        }
        .down-app {
          @include font-ws;
          padding-left: 30px;
          line-height: 24px;
          text-align: center;
          text-decoration-line: underline;
          color: #363853;
        }
      }
      .home-box-right {
        position: relative;
        img {
          width: 600px;
        }
        .card-one {
          display: flex;
          padding: 10px 10px;
          margin-top: 20px;
          position: absolute;
          top: 50px;
          left: 0;
          background: radial-gradient(
            50% 50% at 50% 50%,
            #fef8f5 0%,
            rgba(255, 255, 255, 0.79) 100%
          );
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
          border-radius: 6px;
          img {
            width: 45px;
            height: 45px;
          }
          h4 {
            p {
              font-size: 12px;
              padding-right: 10px;
            }
          }
        }
        .img-1 {
          position: absolute;
          top: 0;
          left: 230px;
          img {
            @include wid-hei;
          }
        }
        .img2 {
          position: absolute;
          top: 0;
          right: 0;
          margin-right: 30px;
          img {
            @include wid-hei;
          }
          .timer-icon {
            position: absolute;
            right: 30px;
          }
          .vector {
            position: absolute;
            top: 90px;
            right: 25px;
            width: 100px;
            height: 100px;
          }
          .send-tg {
            position: absolute;
            width: 30px;
            height: 30px;
            top: 60px;
            right: 25px;
          }
        }
        .card-two {
          position: absolute;
          top: 200px;
          left: 80%;
          width: 200px;
          background: radial-gradient(
            50% 50% at 50% 50%,
            #fef8f5 0%,
            rgba(255, 255, 255, 0.79) 100%
          );
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.07);
          border-radius: 12px;
          .food-text1 {
            display: flex;
            align-items: center;
            img {
              width: 50px;
              height: 50px;
            }
          }
          .star-box {
            display: inline-block;
            margin-left: 50px;
            img {
              width: 18px;
              height: 18px;
            }
          }
          h3 {
            margin-left: 55px;
            span {
              color: $color-global;
              padding-right: 10px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  header {
    .brand img {
      position: absolute;
      top: 33px;
      left: 0;
      margin-left: 30px;
      width: 90px;
    }
    .navigation {
      a {
        font-size: 14px !important;
        img {
          width: 15px;
        }
      }
    }
  }
}
.home-box-left {
  .down-app {
    position: absolute;
  }
}
@media (max-width: 900px) {
  .navigation {
    display: none !important;
  }
  #navbar-open {
    display: block !important;
    img {
      margin-right: -50px !important;
    }
  }
  #navbar-responsive {
    display: block !important;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-bl;
    transition: 0.5s;
    #navbar-close {
      position: absolute;
      right: 0;
      padding: 25px 30px;
      display: block !important;
    }
    .navigation {
      display: block !important;
      a {
        display: flex;
        color: $color-wht;
        margin: 30px 50px;
        font-size: 18px !important;
      }
      .global-btn {
        width: 150px;
      }
    }
  }
}
@media (max-width: 800px) {
  .home-box-global {
    display: flex;
    flex-wrap: wrap-reverse;
    .home-box-left {
      h3 {
        text-align: center;
      }
    }
    .home-box-right {
      .card-one {
        position: absolute;
        width: 150px;
        top: 0 !important;
        left: 0 !important;
        img {
          width: 25px !important;
          height: 25px !important;
        }
        h4 {
          font-size: 12px;
        }
      }
      .card-two {
        width: 200px !important;
        left: 0 !important;
      }
      .img-1 {
        img {
          width: 50px !important;
          height: 50px !important;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .home-box-right {
    .male {
      width: 100% !important;
    }
    .img-1 {
      img {
        display: none;
      }
    }
    .img2 {
      img {
        position: absolute !important;
        right: 0 !important;
      }
    }
    .vector {
      display: none;
    }
  }
}
